<div class="player-container">
  
   <!-- Mostrar mensaje de cargando mientras esperamos los anuncios -->
   @if (isLoading) {
    <p >Cargando anuncios...</p>
   } 
  
   @if (!isLoading) {
    
    <!-- Mostrar currentAd si está disponible -->
  @if (currentAd) {
    <div class="ad">
      @if (currentAd.type === 'image') {
        <img 
        [src]="currentAd.local_url" 
        alt="Anuncio" 
        [ngClass]="{'fill-screen': currentAd.fill_screen, 'contain-screen': !currentAd.fill_screen}" 
        (error)="onError($event)" /> 
      } @else if (currentAd.type === 'video') {
        <video 
        [src]="currentAd.local_url"
        [ngClass]="{'fill-screen': currentAd.fill_screen, 'contain-screen': !currentAd.fill_screen}" 
        preload="auto" 
        controls autoplay
        (ended)="nextAdHandler()"></video> 
      }
    </div>
  }

  <!-- Pre-cargar nextAd pero sin mostrarlo al usuario -->
  <div class="ad preload">
    @if (nextAd) {
      @if (nextAd.type === 'image') {
        <img 
        [src]="nextAd.local_url" 
        [ngClass]="{'fill-screen': nextAd.fill_screen, 'contain-screen': !nextAd.fill_screen}" 
        (error)="onError($event)" 
        style="display: none;" />
      } @else if (nextAd.type === 'video') {
        <video 
        [src]="nextAd.local_url" 
        [ngClass]="{'fill-screen': nextAd.fill_screen, 'contain-screen': !nextAd.fill_screen}" 
        preload="auto" 
        (error)="onError($event)"
         style="display: none;"></video>
      }
    }
  </div>
   }
</div>
