<div class="player-container">

  @if(currentAd){
  <div class="ad">
    @if(currentAd.type === 'image'){
    <img [ngSrc]="currentAd.local_url" alt="Anuncio" (error)="onError($event)"/>
    }@else if(currentAd.type === 'video'){
    <video [src]="currentAd.local_url" controls autoplay (ended)="nextAdHandler()">
    </video>
    }
  </div>
  }@else if (!currentAd) {
    <p>No hay anuncios disponibles.</p>
  }

  @if(nextAd) {
  <div class="ad preload">
    @if (nextAd.type === 'image') {
    <img [ngSrc]="nextAd.local_url"  (error)="onError($event)" />
    }@else if (nextAd.type === 'video') {
      <video [src]="nextAd.url" (error)="onError($event)"></video>
    }
  </div>
  }
  <button (click)="nextAdHandler()">Siguiente Anuncio</button>
</div>
