.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ad {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fill-screen {
  justify-content: center;
}

.ad img {
  object-fit: contain;
  width: auto;
  height: auto;
}

.fill-screen img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.ad video {
  width: 100%;
}

.preload {
  display: none; /* El div precargado estará oculto */
}
